
.active {
    color: rgb(38, 80, 206);
}
header ul #contact a :hover {
    background-color: goldenrod;
}
.logo {
    width: 60;
    height: 60px;
}
nav a {
    color: azure;
    text-decoration: none;
    padding:  20px;
}
nav a:hover {
    color: crimson;
}
nav {
    width: calc(100% -20px);
    justify-self: auto;
}