*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    height: 6vh;
    background-color: #2e2f30;
    display: flex;
    align-items: center;
}
.left{
    width: 60%;
}
.left h1{
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 25px;
}
.fab{
    color: rgba(0, 0, 255, 0.815);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu li{
    margin-right: 27px;
    list-style: none;
    color: gray;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: normal;
}
.right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right input{
    width: 180px;
    height: 50px;
    background-color: rgba(46, 47, 48, 0.521);
    border: solid 1px gray;
    padding-left:10px;
}
.right button{
    width: 160px;
    height: 50px;
    border-radius: none;
    background-color: rgba(0, 0, 255, 0.815);
    border: none;
    border: solid 1px gray;
    color: white;
    font-size: 22px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: stretch;
}
.icon{
    margin-right: 10px;
}
.form input::placeholder{
    font-size: 19px;
}
.down1{
    /* height: 7vh; */
    background-color: #1f2021;
    text-align: center;
    font-size: 21px;
    color: #a4aab0;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 12px;
    padding-bottom: 12px;
}
.down1 a{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.815);
}
.main{
    /* height: 70vh; */
    background-color: #2e2f30;;
    padding: 30px 0px 30px 0px;
}
.inmain{
    width: 62%;
    height: 70vh;
    margin: auto;
    background-color: rosybrown;
    display: flex;
}
.text{
    width: 32%;
    background-color: #2e2f30;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: normal;
}
.text h1{
    color: white;
    font-size: 50px;
}
.text p{
    color: gray;
}
.fortext{
    text-align: center;
}
.ggg{
    font-weight: lighter;
}
.gg{
    margin-bottom: 15px;
}
.pp{
    margin-bottom: 15px;
}
.photo{
    width: 68%;
    background-color: saddlebrown;
    background-image: url(./Screenshot\ 2022-01-22\ 174720.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.lazybutton{
    margin-left: 16px;
    width: 290px;
    /* height: 30px; */
    background-color: rgba(0, 0, 255, 0.815);
    padding: 19px 0px 14px 0px;
    color: white;
    margin-bottom: 20px;
}
.lazybutton h2{
    margin-bottom: 10px;
}
.div2{
    width: 290px;
    margin-left: 16px;
    background-color: #1f2021;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 14px 0px 12px 0px;
    color: white;
    margin-bottom: 20px;
}
.last{
    width: 290px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.col-sm-3{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.lite{
    position: relative;
    min-height: 150px;
    width: 150px;
    background-color: aqua;
    margin-left: 350px;
    border-radius: 20px;
    text-align: center;
}

.lite-1{
    position: relative;
    min-height: 150px;
    width: 150px;
    background-color: rgb(55, 0, 255);
    margin-left: 250px;
    border-radius: 20px;
    text-align: center;    
}
.lite-2{
    position: relative;
    min-height: 150px;
    width: 150px;
    background-color: rgb(255, 0, 242);
    margin-left: 300px;
    border-radius: 10px;
}
.lite-3{
    position: relative;
    min-height: 150px;
    width: 150px;
    background-color: rgb(255, 251, 0);
    margin-left: 450px;
    border-radius: 7px;
}
