body{
    min-height: 200vh;
    background-color: rgb(57, 235, 13);
} 
.div-3 {
    height: 350px;
    width: 215px;
    padding: 159px;
    background-color: rgb(11, 180, 202);
    border: solid 3px rgb(0, 0, 0);
}
.div6 {
    height: 400px;
    width: 300px;
    padding: 170px;
    background-color: aqua;
    border: solid 3px red;
}
 pre {
    color: rgb(204, 31, 12);
    right: 100px;
}
h6 {
    color: rgb(16, 16, 204);
    height: 150px;
    width: auto;
}    
.div-1 {
    height: 100px;
    width: 100px;
     padding: 30px;
     background-color: chartreuse;
     border: solid 5px blue;
}
.container {
    display: inline block;
    margin-top: 230px;
}
.container {
    width: 1000px; height: 600px; border: solid red;
}
.red-text {
    color: brown;
    display: inline block;
    width: 150;
    border-color: rgba(46, 25, 170, 0.767);
}
.bero-1 {
    display: inline block;
    color: rgba(255, 51, 0, 0.89);
    width: 150;
    border-color: rgba(129, 155, 14, 0.76);       
}
.html-1 {
    display: inline block;
    color:  black;
    font-style: italic;
    size: 100px;
}

