* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(38, 36, 36);
}
header {
    width: 100%;
    height: 5vh;
    background-color: darkgrey;
}
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    color: white;
    padding-block: 14px;
}

nav div a {
    color: white;
    padding-right: 8px;
}

.silv {
    color: white;
    padding-left: 25%;
    margin-top: 4%;
    margin-bottom: -5%;
}

.grid .help {
    padding-top: 4%;
}

.silv small {
    font-size: 9px;
    margin-left: 17px;
}

nav div a p {
    margin-top: -18px;
    padding-left: 159px;
}
nav a {
    padding-left: 15px;
}
nav i {
    padding-left: 8%;
}

nav a {
    text-decoration: none;
    text-align: center;
}

.mail {
    margin-left: 25%;
    background-color: #7d7d7d;
    width: 188px;
    height: 35px;
    font-size: 12px;
    border-radius: 10px;
    margin-top: 4%;
}

.mail i {
    padding-top: 11px;
    padding-left: 24px;
    color: white;
}

.mail small {
    padding-left: 13px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding-left: 25%;
    padding-bottom: 10px;
    padding-top: 5%;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 7px;
    padding-left: 31%;
    padding-right: 40%;
}

.phoun img {
    border-radius: 20px;
}
.grid3 img {
    border-radius: 20px;
}
.grid4 img {
    padding-right: 10px;
    border-radius: 20px;
}
.visual {
    color: white;
}
.visual2 {
    color: white;
}
.visual  {
    text-align: center;
    padding-bottom: 6%;
    padding-top: 9%;
}
.visual2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
}
.covid {
    text-align: center;
    color: white;
    margin-bottom: -3%;
    margin-top: 7%;
}
.covid p {
    margin-top: 10px;
}
/*  */
.gmail {
    margin-left: 45%;
    background-color: #686a68;
    width: 188px;
    height: 36px;
    font-size: 12px;
    border-radius: 10px;
    margin-top: 5%;
}

.gmail i {
    padding-top: 12px;
    padding-left: 24px;
    color: white;
}

.gmail small {
    padding-left: 13px;
}

.line {
    display:line;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 7%;
}
.anti {
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
}

.phoun {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 31%;
    padding-right: 40%;
    margin-top: 12%;
}

.phoun .intel {
    margin-top: 28%;
}

.phoun .down {
    margin-top: -22%;
}

.grid3 {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding-left: 31%;
    padding-right: 44%;
    padding-top: 2%;
}


.grid3 .qwer {
    margin-top: 9px;
    padding-right: 10px;
}

.brands {
    padding-left: 80%;
    margin-top: -17px;
}

.brands i {
    margin-right: 15px;
}

@media screen and (max-width: 994px ) {
    .grid {
        width: 768px;
    }
}
@media screen and (max-width: 994px ) {
    .phoun {
        grid-template-columns: 1fr;
        width: 100%;
    }

@media screen and (max-width: 994px ) {
    .grid3  {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
@media screen and (max-width: 994px ) {
    .grid4  {
        grid-template-columns: 1fr;
        width: 100%;
    }
}@media screen and (max-width: 994px ) {
    .grid {
        padding-top: 1%;
        width: 768px;
    }
}
@media screen and (max-width: 768px ) {
    .phoun {
        grid-template-columns: 1fr;
        width: 100%;
    }

@media screen and (max-width: 768px ) {
    .grid3  {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
@media screen and (max-width: 768px ) {
    .grid4  {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
@media screen and (max-width: 768px ) {
    .contain {
        width: 100%;
    }
}
@media screen and (max-width: 994px ) {
    .grid {
        grid-template-columns: 1fr;
        width: 768px;
    }
}
@media screen and (max-width: 576px ) {
    .phoun {
        grid-template-columns: 1fr;
        width: 100%;
    }

@media screen and (max-width: 576px ) {
    .grid3  {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
@media screen and (max-width: 576px ) {
    .grid4  {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
@media screen and (max-width: 576px ) {
    .intel {
        margin-top: 1%;
    }
}