@import url(./next.css);
@import url(./all.css);
@import url(./card.css);

.alt-downloads .download {
    padding: 0 25px;
    display: inline-block;
    vertical-align: top;
}
.download-icon {
    width: 18px;
    height: 18px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.d-flex {
    display: flex;
    text-align: center;
    /* grid-gap: 10px; */
}

.container {
    margin-inline: auto;
    width: 800px;
    /* background-color: darkslategrey; */
    text-align: center;
    padding: 23px;
    grid-gap: 12px;
}
.justify-content-betwwen {
    justify-content: space-between;
}

.place {
    height: 30px;
    width: 110px;
    background-color: #383849;
    text-align: center;
    color: white;
    display: flex;
}


.right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right input{
    width: 160px;
    height: 42px;
    background-color: rgba(46, 47, 48, 0.521);
    border: solid 1px gray;
    padding-left:10px;
}
.right button{
    width: 160px;
    height: 50px;
    border-radius: none;
    background-color: rgba(0, 0, 255, 0.815);
    border: none;
    border: solid 1px gray;
    color: white;
    font-size: 22px;
}

.welcome-container .download-container > div:last-child {
    align-items: center;
    display: flex;
    justify-content: center;
}
.tultip-container {
    font-size: 14px;
    background-color: #25252b;
    padding-block: 7px;
    border-radius: 10px;
    margin-top: 15px;
}

.tultip-container::after{
    content: '';
    background-color: #25252b;
    height: 15px;
    width: 15px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    right: 13px;
    top: -7px;
}

/* .tultip-container p {
    margin: 0;
} */

/* .tultip-container a {
    color: rgb(49, 49, 122);
    text-decoration: none;
} */
.tultip-container {
    position: relative;
}

.ruls-container {
    margin-top: 15px;
    font-size: 12px;
}
.tultip-container a {
    color: rgb(14, 58, 102);
}
.tultip-container p  {
    margin: 0;
}

.future-conntainer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.future-conntainer i {
    font-size: 70px;
    margin-bottom: 13px;
}
.future-conntainer {
    text-align: center;
}

/* .features-container i {
    font-size: 65px;
    margin-bottom: 15px;
} */

/* .testimonials-section .container-d-flex {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
} */