/*  */
.region i {
    margin-top: 3px;
}

.GEO img {
    width: 100%;
}

.region .kaxeti:hover {
    background-color: rgb(66, 117, 70);
    width: 80%;
    height: 8vh;
    border-radius: 15px;
    text-align: center;
    font-size: 27px;
}
.region .svaneti:hover {
    background-color: rgb(66, 117, 70);
    width: 80%;
    height: 8vh;
    border-radius: 15px;
    text-align: center;
    font-size: 27px;
}
.region .xevsureti:hover {
    background-color: rgb(66, 117, 70);
    width: 80%;
    height: 8vh;
    border-radius: 15px;
    text-align: center;
    font-size: 27px;
}
.region .batumi:hover {
    background-color: rgb(66, 117, 70);
    width: 80%;
    height: 8vh;
    border-radius: 15px;
    text-align: center;
    font-size: 27px;
}
.region .anaklia:hover {
    background-color: rgb(66, 117, 70);
    width: 80%;
    height: 8vh;
    border-radius: 15px;
    text-align: center;
    font-size: 27px;
    color: white;
}

.sticks :first-child > div {
    margin-right: 10%;
}

.header .right input{
    text-align: center;
    height: 4vh;
    width: 90%;
    border-radius: 15px;
}

.meore i {
    padding-left: 10%;
}

.turi {
    margin-top: 5%;
}