* {
    margin: 0;
    padding: 0%;
}
body {
    background-color: black;
}

header {
    width: 100%;
    height: 5vh;
    background-color: darkgrey;
}
/* nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    color: white;
    padding-block: 14px;
} */
nav {
    display: flex;
    justify-content: space-between;
    /*! text-align: center; */
    width: 80%;
    color: white;
    padding-block: 14px;
    margin: auto;
}
.for_i p{
    margin-left: 20px;
}

nav div a {
    color: white;
    padding-right: 8px;
}

nav div a p {
    margin-top: -18px;
    padding-left: 19px;
}
nav a {
    padding-left: 0px;
    text-decoration: none;
    text-align: center;
}
nav i {
    padding-left: 8%;
}
.line {
    display: inline;
    height: 1px;
    display: block;
    background-color: white;
    margin-top: 10%;
}
.imgi{
    width: 100%;
    margin-top: 40px;
}
.line2 {
    display: inline;
    height: 1px;
    display: block;
    background-color: white;
    margin-top: 1%;
    width: 89px;
}
.unik {
    padding-top: 6%;
    padding-left: 17%;
    padding-bottom: 15px;
    color: white;
}
.delta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 17%;
    color: white;
}
.delta > div {
    padding-right: 10%;
    margin-top: 100px
}

.pading {
    color: white;
    padding-left: 17%;
    margin-top: 100px
}

.pading1 {
    color: white;
    padding-left: 17%;
    margin-top: 97px;
}

.img {
    margin-top: 100px  
}

.bero {
    display: grid;
    color: white;
    padding-left: 19%;
    padding-top: 1%;
    grid-template-columns: 1fr 2fr;
}

.bero small {
    padding-top: 12%;
    padding-left: 0%;
}

.bero .bero2 {
    padding-top: 14%;
    margin-left: 1%;
}

.pepsi  {
    display: grid;
    color: white;
    padding-left: 17%;
    padding-top: 10%;
    grid-template-columns: 2fr 2fr;
}

.pepsi .pepsi2 {
    padding-top: 12%;
    margin-right: 8%;
}


.prasi {
    padding-left: 18%;
    color: white;
    padding-top: 10%;
}

.pasat {
    padding-top: 10%;
    padding-left: 23%;
}

.blue {
    color: white;
    padding-top: 10%;
    padding-left: 39%;
}

.anti {
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
}

.flex {
    display: flex;
    padding-left: 75%;
}
 .flex i {
    padding-left: 8%;
 }
 .linee {
    display:line;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 1%;
}

 .linee {
    display: inline;
    width: 137px;
    height: 1px;
    display: block;
    background-color: white;
    margin-top: 5px;
}

.brands {
    display: flex;
    padding-left: 74%;
    margin-top: -17px;
}
 .brands i {
    padding-left: 8%;
 }

 @media screen and (max-width: 992px) {
     .delta {
         display: grid;
         grid-template-columns: 1fr 1fr;
     }
     .bero {
         display: grid;
         grid-template-columns: 1fr;
     }
     .pepsi {
         display: grid;
         grid-template-columns: 1fr;
     }
     .pepsi img {
         margin-top: 7%;
     }
     .pasat img {
         width: 100%;
         margin-left: -8%;
         text-align: center;
       }
     }
 }
 @media screen and (max-width: 398px){
     .nav{
         width: 100%;
     }
     nav a{
         padding-left: 0px;
     }
     .bero ,
     .pepsi ,
     .prasi ,
     .pasat 
     {
         padding-left: block;
     }
 }