/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
header {
    background-color: rgb(180, 180, 19);
    padding: 15px;
    box-shadow: 0 0 3px rgb(219, 124, 16);
    border-radius: 40px;
}
.body{
    background-image: url(./fille/12345.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header li {
    display: inline;
    padding-left: 45px;
}
header li a:hover {
   color: rgb(18, 31, 219);
}
header li a{
    color: #333;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
}
header li img {
    width: 65px;
    float: left;
    margin-top: -20px;
}
header ul #contact a {
    color: #fff;
    background-color: rgba(224, 9, 9, 0.938);
    border-radius: 30px;
    float: right;
    position: relative;
    top: -15px;
    transition: .3s ease;
}

.whole{
    display: flex;
    justify-content: space-between;
}
.first{
    display: flex;
}
.second{
    display: flex;
}


/* .auth-for-container1 {
    width: 300px;
    min-height: 200px;
    border: 1px solid white;
    margin: auto;
    padding: 15px; 
    box-sizing: border-box; 
    padding: 15px;
    padding-right: 15px;
    border-color: chartreuse;
} */