body {
background-color: #1b1b1b;
margin: 20px;
}

.heart {
width: 200px;
height: 200px;
position: relative;
margin: auto;
transform: rotate(45deg);
filter: drop-shadow(0 0 0.5rem #ff00009a);
animation: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.red {
    position: absolute;
    width: 70%;
    height: 68%;
    background: red;
}

.c1 {
    bottom: 0;
    left: 0;
    border-radius: 50%;
}

.c2 {
    top: 0;
    right: 0;
    border-radius: 50%;
}

.r {
    bottom: 0;
    right: 0;
    border-radius: 50;


}
.c1 {
    position: absolute;
    width: 66%;
    height: 66%;
    background: red;
}

.p {
    height: 100;
    width: 100;
    color: black;
}