.body {
    min-height: 200vh;
}
h4 {

    color: indigo;
}

body {
    color: rgba(207, 11, 11, 0.897);
}
h3 {
    color: rgb(204, 23, 204);
}

.heaferN2 {
    background-color: rgba(5, 11, 100, 0.89);
    height: 80px;
    width: auto;
    border-radius: 20px;
    padding: 0%;
    margin: 0%;
}

.gio-1 {
    height: 200px;
    width: 300px;
    background-color: darkblue;
    margin-top: 50px;
    margin: auto;
    position: fixed;
}

  
.div-3 {
    height: 350px;
    width: 215px;
    padding: 159px;
    background-color: rgb(42, 151, 165);
    border: solid 3px rgb(0, 0, 0);
}

.div6 {
    height: 400px;
    width: 300px;
    padding: 170px;
    background-color: aqua;
    border: solid 3px red;
}
    
h5 {
    color: rgb(12, 10, 173);
}
 pre {
    color: salmon;
    right: 100px;
}

h6 {
    color: darkblue;
    height: 150px;
    width: auto;
}
     
.div-1 {
    height: 100px;
    width: 100px;
     padding: 30px;
     background-color: chartreuse;
     border: solid 5px blue;
}

.col-1 {
    width: 1000px; height: 600px; border: solid red;
    width: 146px; height: 300px; background-color: rgba(40, 155, 30, 0.801); float: left;
    border: 2px solid black ;
    padding: 40px;
    margin: 10px;
}
.col-2 {
    width: 1000px; height: 600px; border: solid red;
    width: 146px; height: 300px; background-color: rgba(39, 21, 117, 0.822); float: left;
    border: 2px solid black ;
    padding: 40px;
    margin: 10px;
}
.col-3 {
    width: 1000px; height: 600px; border: solid red;
    width: 146px; height: 300px; background-color: rgba(149, 158, 19, 0.877); float: left;
    border: 2px solid black ;
    padding: 40px;
    margin: 10px;
}
.col-4 {
    width: 1000px; height: 600px; border: solid red;
    width: 146px; height: 300px; background-color: rgb(139, 46, 77); float: left;
    border: 2px solid black ;
    padding: 40px;
    margin: 10px;
 }
.container {
    width: 1000px; height: 600px; border: solid red;
}
.red-text {
    color: brown;
    display: inline block;
    width: 150;
    border-color: rgba(46, 25, 170, 0.767);
}
.bero-1 {
    display: inline block;
    color: rgba(255, 51, 0, 0.89);
    width: 150;
    border-color: rgba(129, 155, 14, 0.76);
        
}
.html-1 {
    display: inline block;
    color:  black;
    font-style: italic;
    size: 100px;
}



 
