
h4 {
    color: indigo;
}

body{
    color: indianred;
}
h3{
    color: rgb(204, 23, 204);
}




    
.div-3 {
    height: 350px;
    width: 215px;
    padding: 159px;
    background-color: rgb(42, 151, 165);
    border: solid 3px rgb(0, 0, 0);
    }

    .div6{
        height: 400px;
        width: 300px;
        padding: 170px;
        background-color: aqua;
        border: solid 3px red;
    }
    
    h5 {
        color: rgb(12, 10, 173);
    }
    pre{
        color: salmon;
        right: 100px;
    }

    h6{
        color: darkblue;
        height: 150px;
        width: auto;
    }
     
    .div-1{
        height: 100px;
        width: 100px;
        padding: 30px;
        background-color: chartreuse;
        border: solid 5px blue;
    }